{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["warn", "double", { "avoidEscape": true }],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "curly": "error",

    "@typescript-eslint/no-namespace": "off"
  }
}